@import 'libs/bootstrap-reboot.min';
@import'libs/slick';
@import 'base/variables';
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

@import'blocks/header';
@import'blocks/promo';
@import'blocks/button';
@import'blocks/cprengi';
@import'libs/animate';
@import'blocks/experimental_solutions';
@import'blocks/advantages';
@import'blocks/variant';
@import'blocks/gaining_access';
@import'blocks/footer';